In [1]:
# Dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import requests, zipfile, io

In [2]:
# Import CSVs from Citi Bike System Data @ https://s3.amazonaws.com/tripdata/index.html
citi_03_19_data = "https://s3.amazonaws.com/tripdata/201903-citibike-tripdata.csv.zip"
citi_04_19_data = "https://s3.amazonaws.com/tripdata/201904-citibike-tripdata.csv.zip"
citi_05_19_data = "https://s3.amazonaws.com/tripdata/201905-citibike-tripdata.csv.zip"
citi_06_19_data = "https://s3.amazonaws.com/tripdata/201906-citibike-tripdata.csv.zip"

citi_03_20_data = "https://s3.amazonaws.com/tripdata/202003-citibike-tripdata.csv.zip"
citi_04_20_data = "https://s3.amazonaws.com/tripdata/202004-citibike-tripdata.csv.zip"
citi_05_20_data = "https://s3.amazonaws.com/tripdata/202005-citibike-tripdata.csv.zip"

In [3]:
# Starting in June 2020, the data is stored in multi-file zips, so instead the csv files were downloaded
# locally and read in.
citi_06_20_data = "https://s3.amazonaws.com/tripdata/202006-citibike-tripdata.csv.zip"

In [4]:
citi_03_21_data = "https://s3.amazonaws.com/tripdata/202103-citibike-tripdata.csv.zip"
citi_04_21_data = "https://s3.amazonaws.com/tripdata/202104-citibike-tripdata.csv.zip"
citi_05_21_data = "https://s3.amazonaws.com/tripdata/202105-citibike-tripdata.csv.zip"
citi_06_21_data = "https://s3.amazonaws.com/tripdata/202106-citibike-tripdata.csv.zip"

In [5]:
citi_03_22_data = "https://s3.amazonaws.com/tripdata/202203-citibike-tripdata.csv.zip"
citi_04_22_data = "https://s3.amazonaws.com/tripdata/202204-citibike-tripdata.csv.zip"
citi_05_22_data = "https://s3.amazonaws.com/tripdata/202205-citibike-tripdata.csv.zip"

# Note typo in link, this is an error from the source not in the code
citi_06_22_data = "https://s3.amazonaws.com/tripdata/202206-citbike-tripdata.csv.zip"

In [6]:
# Read CSVs
citi_03_19 = pd.read_csv(citi_03_19_data)

In [7]:
citi_04_19 = pd.read_csv(citi_04_19_data)

In [8]:
citi_05_19 = pd.read_csv(citi_05_19_data)

In [9]:
citi_06_19 = pd.read_csv(citi_06_19_data)

In [10]:
citi_03_20 = pd.read_csv(citi_03_20_data)

In [11]:
citi_04_20 = pd.read_csv(citi_04_20_data)

In [12]:
citi_05_20 = pd.read_csv(citi_05_20_data)

In [13]:
# Code to extract one particular zip file adapted from Zecca Lehn @
# https://gist.github.com/ZeccaLehn/140edc75ff9d2c7cf9f660028763c9f5
filename = '202006-citibike-tripdata.csv'
r = requests.get(citi_06_20_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_06_20 = pd.read_csv(filename, sep=',')

In [14]:
filename = '202103-citibike-tripdata.csv'
r = requests.get(citi_03_21_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_03_21 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [15]:
filename = '202104-citibike-tripdata.csv'
r = requests.get(citi_04_21_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_04_21 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [16]:
filename = '202105-citibike-tripdata.csv'
r = requests.get(citi_05_21_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_05_21 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [17]:
filename = '202106-citibike-tripdata.csv'
r = requests.get(citi_06_21_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_06_21 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [18]:
filename = '202203-citibike-tripdata.csv'
r = requests.get(citi_03_22_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_03_22 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [19]:
filename = '202204-citibike-tripdata.csv'
r = requests.get(citi_04_22_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_04_22 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [20]:
filename = '202205-citibike-tripdata.csv'
r = requests.get(citi_05_22_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_05_22 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [21]:
filename = '202206-citbike-tripdata.csv'
r = requests.get(citi_06_22_data)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()
citi_06_22 = pd.read_csv(filename, dtype={"start_station_id": "string", "end_station_id": "string"})

In [22]:
citi_03_19 = citi_03_19.dropna()
citi_04_19 = citi_04_19.dropna()
citi_05_19 = citi_05_19.dropna()
citi_06_19 = citi_06_19.dropna()

citi_03_20 = citi_03_20.dropna()
citi_04_20 = citi_04_20.dropna()
citi_05_20 = citi_05_20.dropna()
citi_06_20 = citi_06_20.dropna()

citi_03_21 = citi_03_21.dropna()
citi_04_21 = citi_04_21.dropna()
citi_05_21 = citi_05_21.dropna()
citi_06_21 = citi_06_21.dropna()

citi_03_22 = citi_03_22.dropna()
citi_04_22 = citi_04_22.dropna()
citi_05_22 = citi_05_22.dropna()
citi_06_22 = citi_06_22.dropna()

In [23]:
# Rename & re-order columnsall columns to match 21 & 22 data
citi_03_19 = citi_03_19.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_03_19 = citi_03_19[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

citi_04_19 = citi_04_19.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_04_19 = citi_04_19[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

citi_05_19 = citi_05_19.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_05_19 = citi_05_19[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

citi_06_19 = citi_06_19.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_06_19 = citi_06_19[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

In [24]:
# Rename & re-order columnsall columns to match 21 & 22 data
citi_03_20 = citi_03_20.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_03_20 = citi_03_20[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

citi_04_20 = citi_04_20.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_04_20 = citi_04_20[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

citi_05_20 = citi_05_20.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_05_20 = citi_05_20[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

citi_06_20 = citi_06_20.rename(columns={"starttime": "started_at", "stoptime": "ended_at", \
                                        "start station id":"start_station_id", "end station id":"end_station_id", \
                                       "start station name": "start_station_name", "start station latitude": \
                                        'start_lat', 'start station longitude': 'start_lng', 'end station longitude':\
                                        'end_lng', 'end station latitude': 'end_lat', "end station name": \
                                       "end_station_name", "usertype": "member_casual"})
citi_06_20 = citi_06_20[["started_at", "ended_at", "start_station_name", "start_station_id", "end_station_name", \
                        "end_station_id", "start_lat", "start_lng", "end_lat", "end_lng", "member_casual"]]

In [25]:
# Remove rideable type from 21 and 22 data
citi_03_21 = citi_03_21[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
citi_04_21 = citi_04_21[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
citi_05_21 = citi_05_21[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
citi_06_21 = citi_06_21[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]

citi_03_22 = citi_03_22[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
citi_04_22 = citi_04_22[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
citi_05_22 = citi_05_22[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
citi_06_22 = citi_06_22[['ride_id', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]

In [26]:
# Filter data to exclude "winter" dates
# Code adapted from unutbu @ https://stackoverflow.com/questions/29370057/select-dataframe-rows-between-two-dates
start_date = "2019-03-20"
mask = (citi_03_19['started_at'] >= start_date)
citi_03_19 = citi_03_19.loc[mask]

start_date = "2020-03-20"
mask = (citi_03_20['started_at'] >= start_date)
citi_03_20 = citi_03_20.loc[mask]

start_date = "2021-03-20"
mask = (citi_03_21['started_at'] >= start_date)
citi_03_21 = citi_03_21.loc[mask]

start_date = "2022-03-20"
mask = (citi_03_22['started_at'] >= start_date)
citi_03_22 = citi_03_22.loc[mask]

In [27]:
# Filter data to exclude "summer" dates
end_date = "2019-06-22"
mask = (citi_06_19['started_at'] < end_date)
citi_06_19 = citi_06_19.loc[mask]

end_date = "2020-06-22"
mask = (citi_06_20['started_at'] < end_date)
citi_06_20 = citi_06_20.loc[mask]

end_date = "2021-06-22"
mask = (citi_06_21['started_at'] < end_date)
citi_06_21 = citi_06_21.loc[mask]

end_date = "2022-06-22"
mask = (citi_06_22['started_at'] < end_date)
citi_06_22 = citi_06_22.loc[mask]

In [28]:
# Concatenate all months by year
spring_2019 = pd.concat([citi_03_19, citi_04_19, citi_05_19, citi_06_19], ignore_index = True)
# Code adapted from Ed Chum @ https://stackoverflow.com/questions/40914200/can-i-assign-a-reset-index-a-name
spring_2019 = spring_2019.rename_axis('ride_id')

spring_2020 = pd.concat([citi_03_20, citi_04_20, citi_05_20, citi_06_20], ignore_index = True)
spring_2020 = spring_2020.rename_axis('ride_id')

spring_2021 = pd.concat([citi_03_21, citi_04_21, citi_05_21, citi_06_21], ignore_index = True)
spring_2021.set_index("ride_id", inplace = True)

spring_2022 = pd.concat([citi_03_22, citi_04_22, citi_05_22, citi_06_22], ignore_index = True)
spring_2022.set_index("ride_id", inplace = True)
# spring_2021

In [29]:
spring_2019 = spring_2019.sample(500000)
spring_2020 = spring_2020.sample(500000)
spring_2021 = spring_2021.sample(500000)
spring_2022 = spring_2022.sample(500000)

In [30]:
# Set index for 2020 to the number following 2019 df
spring_2020.index +=500001
spring_2020.sort_values(by=["ride_id"])

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
ride_id,,,,,,,,,,,
500004,2020-03-20 00:02:26.6910,2020-03-20 00:07:35.3300,W 30 St & 10 Ave,3735,9 Ave & W 22 St,509,40.752694,-74.002353,40.745497,-74.001971,Subscriber
500013,2020-03-20 00:04:32.8920,2020-03-20 00:14:07.2120,3 St & Hoyt St,3381,3 Ave & Schermerhorn St,298,40.677729,-73.993641,40.686832,-73.979677,Subscriber
500019,2020-03-20 00:06:22.4430,2020-03-20 00:17:26.2260,E 16 St & 5 Ave,496,Christopher St & Greenwich St,358,40.737262,-73.992390,40.732916,-74.007114,Subscriber
500023,2020-03-20 00:07:03.8150,2020-03-20 00:30:12.4500,Lexington Ave & E 26 St,3707,8 Ave & W 31 St,3255,40.741459,-73.983293,40.750585,-73.994685,Subscriber
500025,2020-03-20 00:07:15.2050,2020-03-20 00:21:10.4960,3 Ave & Schermerhorn St,298,Franklin Ave & Empire Blvd,3599,40.686832,-73.979677,40.663140,-73.960569,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...
4177725,2020-06-21 23:57:46.9990,2020-06-22 00:00:48.2590,E 32 St & Park Ave,472,1 Ave & E 30 St,536,40.745712,-73.981948,40.741444,-73.975361,Subscriber
4177727,2020-06-21 23:57:53.1750,2020-06-22 00:25:13.1520,Myrtle Ave & St Edwards St,245,Eastern Pkwy & Franklin Ave,3584,40.693270,-73.977039,40.670777,-73.957680,Customer
4177738,2020-06-21 23:58:47.4800,2020-06-22 00:04:44.8890,Hudson St & Reade St,146,Catherine St & Monroe St,2009,40.716250,-74.009106,40.711174,-73.996826,Customer
4177742,2020-06-21 23:59:08.4170,2020-06-22 00:17:44.3920,Fulton St & William St,316,W 16 St & The High Line,212,40.709560,-74.006536,40.743349,-74.006818,Customer
4177747,2020-06-21 23:59:50.0310,2020-06-22 00:22:19.8030,Madison St & Seneca Ave,3896,Lincoln Pl & Classon Ave,3582,40.701830,-73.906250,40.672168,-73.960900,Subscriber

In [31]:
# Concatenate all years into one
spring = pd.concat([spring_2019, spring_2020, spring_2021, spring_2022])
spring

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
ride_id,,,,,,,,,,,
781322,2019-04-04 12:15:18.4520,2019-04-04 12:43:18.5250,Water - Whitehall Plaza,534,Allen St & Hester St,361,40.702551,-74.012723,40.716059,-73.991908,Customer
752310,2019-04-03 20:38:07.3940,2019-04-03 20:52:13.2230,Columbia St & Rivington St,342,Kent Ave & N 7 St,3016,40.717400,-73.980166,40.720368,-73.961651,Subscriber
3065114,2019-05-13 21:06:04.6070,2019-05-13 21:18:31.1590,Suffolk St & Stanton St,410,Suffolk St & Stanton St,410,40.720664,-73.985180,40.720664,-73.985180,Subscriber
3480137,2019-05-20 06:52:32.3210,2019-05-20 06:54:58.2440,Broadway & W 41 St,465,Broadway & W 37 St,362,40.755136,-73.986580,40.751726,-73.987535,Subscriber
1674618,2019-04-18 22:19:34.5150,2019-04-18 22:55:27.3560,Avenue D & E 8 St,266,Halsey St & Tompkins Ave,3047,40.723684,-73.975748,40.682369,-73.944118,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...
BCFE2F2416705C11,2022-04-05 07:45:57,2022-04-05 07:48:45,W 42 St & 6 Ave,6517.08,W 51 St & Rockefeller Plaza,6700.14,40.754920,-73.984550,40.759738,-73.978116,member
E267726DEF71EAEC,2022-03-29 22:08:58,2022-03-29 22:12:23,Avenue D & E 12 St,5575.08,E 5 St & Ave A,5626.06,40.725806,-73.974225,40.724790,-73.984301,member
40A71B4D0B72B5FE,2022-04-12 17:52:38,2022-04-12 17:53:10,Leonard St & Maujer St,5148.03,Leonard St & Maujer St,5148.03,40.710369,-73.947060,40.710369,-73.947060,casual
CDC5BC3147C8F86B,2022-03-24 18:35:07,2022-03-24 18:54:59,Fulton St & William St,5137.11,Myrtle Ave & Fleet Pl,4628.07,40.709601,-74.006551,40.693534,-73.981909,member
6BDA803F3777C4A5,2022-06-15 17:12:20,2022-06-15 17:31:01,Harrison St & Hudson St,5400.05,E 2 St & 2 Ave,5593.02,40.718710,-74.009001,40.725029,-73.990697,member

In [32]:
# Export csv to resources folder
filepath = Path("Resources/cleaned/spring.csv")
filepath.parent.mkdir(parents=True, exist_ok=True)
spring.to_csv(filepath)